<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FutureRight</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
    </head>
    <body>
       <header>
            <!-- Web site logo -->
            <a href="{% url 'home' %}" class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

            <ul class="socialMedia">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            </ul>



        <!-- Query form -->
        <div class="queryform">

            <div class="container">
                <!-- Heading -->
                <b>Acedemic Performance Test</b><br><br>
                <!-- Form -->
                <form id="quaryform" name="quaryform" action="{% url 'review_test' %}" method="post">
                    <!-- age  -->
                    <!--label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Your age.."-->
                    <!-- gender selector -->
                    <label for="stream">Stream</label>
                    <br>
                    <select id="stream" name="stream">
                        <option value=0>Arts</option>
                        <option value=1>Commerce</option>
                        <option value=2>Physical Science</option>
                        <option value=3>Biological Science</option>
                        <option value=4>Engineering Technology</option>
                        <option value=5>Biosystem Technology</option>
                    </select>
                    <br>
                    <!--Subject 01 -->
                    <label for="subject">Subject 01</label>
                    <br>
                    
                    <select id="subject" name="subject1">
                        <option value=0>POLITICAL SCIENCE</option>
                        <option value=1>ECONOMICS</option>
                        <option value=2>ISLAM</option>
                        <option value=3>HISTORY OF SRI LANKA & EUROPE</option>
                        <option value=4>COMMUNICATION & MEDIA STUDIES</option>
                        <option value=5>GEOGRAPHY</option>
                        <option value=6>HOME ECONOMICS</option>
                        <option value=7>INFORMATION & COMMUNICATION TECHNOLOGY</option>
                        <option value=8>PHYSICS</option>
                        <option value=9>LOGIC & SCIENTIFIC METHOD</option>
                        <option value=10>HISTORY OF SRI LANKA & INDIA</option>
                        <option value=11>CHEMISTRY</option>
                        <option value=12>ART</option>
                        <option value=13>AGRICULTURAL SCIENCE</option>
                        <option value=14>BUSINESS STUDIES</option>
                        <option value=15>CHRISTIANITY</option>
                        <option value=16>MATHEMATICS</option>
                        <option value=17>ISLAMIC CIVILIZATION</option>
                        <option value=18>HINDU CIVILIZATION</option>
                        <option value=19>BIO SYSTEMS TECHNOLOGY</option>
                        <option value=20>BUSINESS STATISTICS</option>
                        <option value=21>BUDDHIST CIVILIZATION</option>
                        <option value=22>CHRISTIAN CIVILIZATION</option>
                        <option value=23>GREEK & ROMAN CIVILIZATION</option>
                        <option value=24>HISTORY OF SRI LANKA & MODERN WORLD</option>
                        <option value=25>DRAMA AND THEATRE (SINHALA)</option>
                        <option value=26>BUDDHISM</option>
                        <option value=27>ACCOUNTING</option>
                        <option value=28>DANCING(INDIGENOUS)</option>
                        <option value=29>FOOD TECHNOLOGY</option>
                        <option value=30>ELECTRICAL,ELECTRONIC AND IT</option>
                        <option value=31>COMBINED MATHEMATICS</option>
                        <option value=32>ORIENTAL MUSIC</option>
                        <option value=33>ENGLISH</option>
                        <option value=34>BIOLOGY</option>
                        <option value=35>CIVIL TECHNOLOGY</option>
                        <option value=36>AGRO TECHNOLOGY</option>
                        <option value=37>SINHALA</option>
                        <option value=38>ENGINEERING TECHNOLOGY</option>
                        <option value=39>HINDUISM</option>
                        <option value=40>WESTERN MUSIC</option>
                        <option value=41>MECHANICAL TECHNOLOGY</option>
                        <option value=42>TAMIL</option>
                        <option value=43>PALI</option>
                        <option value=44>BIO-RESOURCE TECHNOLOGY</option>
                        <option value=45>CARNATIC MUSIC</option>
                        <option value=46>DANCING(BHARATHA)</option>
                        
                    </select>
                    <br>
                    <label for="subject">Result</label>
                    <br>
                    <select id="result" name="sub1_result">
                        <option value=0>A</option>
                        <option value=1>B</option>
                        <option value=2>C</option>
                        <option value=3>S</option>
                        <option value=4>F</option>
                    </select>
                    <br>
                    <br>
                    <!--Subject 02 -->
                    <label for="subject">Subject 02</label>
                    <br>
                    
                    <select id="subject" name="subject2">
                        <option value=46>DANCING(BHARATHA)</option>
                        <option value=45>CARNATIC MUSIC</option>
                        <option value=14>BUSINESS STUDIES</option>
                        <option value=18>HINDU CIVILIZATION</option>
                        <option value=15>CHRISTIANITY</option>
                        <option value=12>ART</option>
                        <option value=2>ISLAM</option>
                        <option value=0>POLITICAL SCIENCE</option>
                        <option value=4>COMMUNICATION & MEDIA STUDIES</option>
                        <option value=3>HISTORY OF SRI LANKA & EUROPE</option>
                        <option value=9>LOGIC & SCIENTIFIC METHOD</option>
                        <option value=6>HOME ECONOMICS</option>
                        <option value=5>GEOGRAPHY</option>
                        <option value=1>ECONOMICS</option>
                        <option value=11>CHEMISTRY</option>
                        <option value=31>COMBINED MATHEMATICS</option>
                        <option value=25>DRAMA AND THEATRE (SINHALA)</option>
                        <option value=33>ENGLISH</option>
                        <option value=20>BUSINESS STATISTICS</option>
                        <option value=10>HISTORY OF SRI LANKA & INDIA</option>
                        <option value=28>DANCING(INDIGENOUS)</option>
                        <option value=13>AGRICULTURAL SCIENCE</option>
                        <option value=38>ENGINEERING TECHNOLOGY</option>
                        <option value=19>BIO SYSTEMS TECHNOLOGY</option>
                        <option value=21>BUDDHIST CIVILIZATION</option>
                        <option value=22>CHRISTIAN CIVILIZATION</option>
                        <option value=35>CIVIL TECHNOLOGY</option>
                        <option value=47>DRAMA AND THEATRE (TAMIL)</option>
                        <option value=27>ACCOUNTING</option>
                        <option value=17>ISLAMIC CIVILIZATION</option>
                        <option value=42>TAMIL</option>
                        <option value=48>SCIENCE FOR TECHNOLOGY</option>
                        <option value=37>SINHALA</option>
                        <option value=7>INFORMATION & COMMUNICATION TECHNOLOGY</option>
                        <option value=49>FRENCH</option>
                        <option value=50>CHINESE</option>
                        <option value=23>GREEK & ROMAN CIVILIZATION</option>
                        <option value=24>HISTORY OF SRI LANKA & MODERN WORLD</option>
                        <option value=32>ORIENTAL MUSIC</option>
                        <option value=43>PALI</option>
                        <option value=26>BUDDHISM</option>
                        <option value=36>AGRO TECHNOLOGY</option>
                        <option value=51>GERMAN</option>
                        <option value=40>WESTERN MUSIC</option>
                        <option value=35>BIOLOGY</option>
                        <option value=52>HINDI</option>
                        <option value=16>MATHEMATICS</option>
                        <option value=53>SANSKRIT</option>
                        <option value=29>FOOD TECHNOLOGY</option>
                        <option value=44>BIO-RESOURCE TECHNOLOGY</option>
                        <option value=30>ELECTRICAL, ELECTRONIC AND IT</option>
                        <option value=54>DRAMA AND THEATRE (ENGLISH)</option>
                        <option value=39>HINDUISM</option>
                        <option value=41>MECHANICAL TECHNOLOGY</option>
                        <option value=55>RUSSIAN</option>
                        <option value=56>ARABIC</option>
                        <option value=57>HIGHER MATHEMATICS</option>
                        
                    </select>
                    <br>
                    <label for="subject">Result</label>
                    <br>
                    <select id="result" name="sub2_result">
                        <option value=0>A</option>
                        <option value=1>B</option>
                        <option value=2>C</option>
                        <option value=3>S</option>
                        <option value=4>F</option>
                    </select>
                    <br>
                    <br>
                    <!--Subject 03 -->
                    <label for="subject">Subject 03</label>
                    <br>
                    
                    <select id="subject" name="subject3">
                        <option value=42>TAMIL</option>
                        <option value=27>ACCOUNTING</option>
                        <option value=2>ISLAM</option>
                        <option value=12>ART</option>
                        <option value=15>CHRISTIANITY</option>
                        <option value=4>COMMUNICATION & MEDIA STUDIES</option>
                        <option value=37>SINHALA</option>
                        <option value=6>HOME ECONOMICS</option>
                        <option value=31>COMBINED MATHEMATICS</option>
                        <option value=7>INFORMATION & COMMUNICATION TECHNOLOGY</option>
                        <option value=34>BIOLOGY</option>
                        <option value=3>HISTORY OF SRI LANKA & EUROPE</option>
                        <option value=14>BUSINESS STUDIES</option>
                        <option value=49>FRENCH</option>
                        <option value=25>DRAMA AND THEATRE (SINHALA)</option>
                        <option value=33>ENGLISH</option>
                        <option value=48>SCIENCE FOR TECHNOLOGY</option>
                        <option value=47>DRAMA AND THEATRE (TAMIL)</option>
                        <option value=56>ARABIC</option>
                        <option value=17>ISLAMIC CIVILIZATION</option>
                        <option value=21>BUDDHIST CIVILIZATION</option>
                        <option value=22>CHRISTIAN CIVILIZATION</option>
                        <option value=20>BUSINESS STATISTICS</option>
                        <option value=32>ORIENTAL MUSIC</option>
                        <option value=50>CHINESE</option>
                        <option value=51>GERMAN</option>
                        <option value=58>JAPANESE</option>
                        <option value=5>GEOGRAPHY</option>
                        <option value=9>LOGIC & SCIENTIFIC METHOD</option>
                        <option value=28>DANCING(INDIGENOUS)</option>
                        <option value=0>POLITICAL SCIENCE</option>
                        <option value=23>GREEK & ROMAN CIVILIZATION</option>
                        <option value=24>HISTORY OF SRI LANKA & MODERN WORLD</option>
                        <option value=10>HISTORY OF SRI LANKA & INDIA</option>
                        <option value=52>HINDI</option>
                        <option value=40>WESTERN MUSIC</option>
                        <option value=53>SANSKRIT</option>
                        <option value=43>PALI</option>
                        <option value=39>HINDUISM</option>
                        <option value=16>MATHEMATICS</option>
                        <option value=29>FOOD TECHNOLOGY</option>
                        <option value=8>PHYSICS</option>
                        <option value=1>ECONOMICS</option>
                        <option value=18>HINDU CIVILIZATION</option>
                        <option value=26>BUDDHISM</option>
                        <option value=55>RUSSIAN</option>
                        <option value=38>ENGINEERING TECHNOLOGY</option>
                        <option value=19>BIO SYSTEMS TECHNOLOGY</option>
                        <option value=45>CARNATIC MUSIC</option>
                        <option value=11>CHEMISTRY</option>
                        <option value=36>AGRO TECHNOLOGY</option>
                        <option value=57>HIGHER MATHEMATICS</option>
                        <option value=44>BIO-RESOURCE TECHNOLOGY</option>
                        <option value=41>MECHANICAL TECHNOLOGY</option>
                        <option value=46>DANCING(BHARATHA)</option>
                        <option value=13>AGRICULTURAL SCIENCE</option>
                        <option value=35>CIVIL TECHNOLOGY</option>
                        
                    </select>
                    <br>
                    <label for="subject">Result</label>
                    <br>
                    <select id="result" name="sub3_result">
                        <option value=0>A</option>
                        <option value=1>B</option>
                        <option value=2>C</option>
                        <option value=3>S</option>
                        <option value=4>F</option>
                    </select>
                    <br>

                    <label for="subject">General English</label>
                    <br>
                    <select id="result" name="gen_english">
                        <option value=0>A</option>
                        <option value=1>B</option>
                        <option value=2>C</option>
                        <option value=3>S</option>
                        <option value=4>F</option>
                    </select>
                    <br>
                    <!-- submit button to view query details -->
                    <input type="submit" value="Review Test">
                </form>
            </div>
        </div>
        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'therm_use' %}">Start Test</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>

        <!-- footer -->
        <footer>
            <p class="footer1">
            Powered by<i><b>Heathens</b></i>
            </p>
        </footer>


        <!-- External javascript link -->
        <script src="{% static 'website_javascript.js' %}"></script>

        <!-- Link for webpage icons sourcecode -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
