<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FutureRight</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
    </head>
    <body>
       <header>
            <!-- Web site logo -->
            <a href="{% url 'home' %}" class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

            <ul class="socialMedia">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            </ul>



        <!-- Query form -->
        <div class="queryform">

            <div class="container">
                <!-- Heading -->
                <b>Acedemic Performance Test</b><br><br>
                <!-- Form -->
                <form action="Review_Test.html" id="quaryform" name="quaryform" onsubmit="return formValidation()" method="get">
                    <!-- age  -->
                    <!--label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Your age.."-->
                    <!-- gender selector -->
                    <label for="stream">Stream</label>
                    <br>
                    <select id="stream" name="stream">
                        <option value="Arts">Arts</option>
                        <option value="Commerce">Commerce</option>
                        <option value="Physical Science">Physical Science</option>
                        <option value="Biological Science">Biological Science</option>
                        <option value="Engineering Technology">Engineering Technology</option>
                        <option value="Biosystem Technology">Biosystem Technology</option>
                    </select>
                    <br>
                    <!--Subject 01 -->
                    <label for="subject">Subject 01</label>
                    <br>
                    
                    <select id="subject" name="subject">
                        <option value="POLITICAL SCIENCE">POLITICAL SCIENCE</option>
                        <option value="ECONOMICS">ECONOMICS</option>
                        <option value="ISLAM">ISLAM</option>
                        <option value="HISTORY OF SRI LANKA & EUROPE">HISTORY OF SRI LANKA & EUROPE</option>
                        <option value="COMMUNICATION & MEDIA STUDIE">COMMUNICATION & MEDIA STUDIES</option>
                        <option value="GEOGRAPHY">GEOGRAPHY</option>
                        <option value="HOME ECONOMICS">HOME ECONOMICS</option>
                        <option value="INFORMATION & COMMUNICATION TECHNOLOGY">INFORMATION & COMMUNICATION TECHNOLOGY</option>
                        <option value="PHYSICS">PHYSICS</option>
                        <option value="LOGIC & SCIENTIFIC METHOD">LOGIC & SCIENTIFIC METHOD</option>
                        <option value="HISTORY OF SRI LANKA & INDIA">HISTORY OF SRI LANKA & INDIA</option>
                        <option value="CHEMISTR">CHEMISTRY</option>
                        <option value="ART">ART</option>
                        <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                        <option value="BUSINESS STUDIE">BUSINESS STUDIES</option>
                        <option value="CHRISTIANITY">CHRISTIANITY</option>
                        <option value="MATHEMATICS">MATHEMATICS</option>
                        <option value="ISLAMIC CIVILIZATION">ISLAMIC CIVILIZATION</option>
                        <option value="HINDU CIVILIZATION">HINDU CIVILIZATION</option>
                        <option value="BIO SYSTEMS TECHNOLOGY">BIO SYSTEMS TECHNOLOGY</option>
                        <option value="BUSINESS STATISTICS">BUSINESS STATISTICS</option>
                        <option value="BUDDHIST CIVILIZATION">BUDDHIST CIVILIZATION</option>
                        <option value="CHRISTIAN CIVILIZATION">CHRISTIAN CIVILIZATION</option>
                        <option value="GREEK & ROMAN CIVILIZATION">GREEK & ROMAN CIVILIZATION</option>
                        <option value="HISTORY OF SRI LANKA & MODERN WORLD">HISTORY OF SRI LANKA & MODERN WORLD</option>
                        <option value="DRAMA AND THEATRE (SINHALA)">DRAMA AND THEATRE (SINHALA)</option>
                        <option value="BUDDHISM">BUDDHISM</option>
                        <option value="ACCOUNTING">ACCOUNTING</option>
                        <option value="DANCING(INDIGENOUS)">DANCING(INDIGENOUS)</option>
                        <option value="FOOD TECHNOLOGY">FOOD TECHNOLOGY</option>
                        <option value="ELECTRICAL,ELECTRONIC AND IT">ELECTRICAL,ELECTRONIC AND IT</option>
                        <option value="COMBINED MATHEMATICS">COMBINED MATHEMATICS</option>
                        <option value="ORIENTAL MUSIC">ORIENTAL MUSIC</option>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="BIOLOGY">BIOLOGY</option>
                        <option value="CIVIL TECHNOLOGY">CIVIL TECHNOLOGY</option>
                        <option value="AGRO TECHNOLOGY">AGRO TECHNOLOGY</option>
                        <option value="SINHALA">SINHALA</option>
                        <option value="ENGINEERING TECHNOLOGY">ENGINEERING TECHNOLOGY</option>
                        <option value="HINDUISM">HINDUISM</option>
                        <option value="WESTERN MUSIC">WESTERN MUSIC</option>
                        <option value="MECHANICAL TECHNOLOGY">MECHANICAL TECHNOLOGY</option>
                        <option value="TAMIL">TAMIL</option>
                        <option value="PALI">PALI</option>
                        <option value="BIO-RESOURCE TECHNOLOGY">BIO-RESOURCE TECHNOLOGY</option>
                        <option value="CARNATIC MUSIC">CARNATIC MUSIC</option>
                        <option value="DANCING(BHARATHA)">DANCING(BHARATHA)</option>
                        <option value="DRAMA AND THEATRE (TAMIL)">DRAMA AND THEATRE (TAMIL)</option>
                        <option value="SCIENCE FOR TECHNOLOGY">SCIENCE FOR TECHNOLOGY</option>
                        <option value="FRENCH">FRENCH</option>
                        <option value="CHINESE">CHINESE</option>
                        <option value="GERMAN">GERMAN</option>
                        <option value="HINDI">HINDI</option>
                        <option value="SANSKRIT">SANSKRIT</option>
                        <option value="DRAMA AND THEATRE (ENGLISH)">DRAMA AND THEATRE (ENGLISH)</option>
                        <option value="RUSSIAN">RUSSIAN</option>
                        <option value="ARABIC">ARABIC</option>
                        <option value="HIGHER MATHEMATICS">HIGHER MATHEMATICS</option>
                        <option value="JAPANESE">JAPANESE</option>
                    </select>
                    <br>
                    <label for="subject">Result</label>
                    <br>
                    <select id="result" name="result">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="S">S</option>
                        <option value="F">F</option>
                    </select>
                    <br>
                    <br>
                    <!--Subject 02 -->
                    <label for="subject">Subject 02</label>
                    <br>
                    
                    <select id="subject" name="subject">
                        <option value="POLITICAL SCIENCE">POLITICAL SCIENCE</option>
                        <option value="ECONOMICS">ECONOMICS</option>
                        <option value="ISLAM">ISLAM</option>
                        <option value="HISTORY OF SRI LANKA & EUROPE">HISTORY OF SRI LANKA & EUROPE</option>
                        <option value="COMMUNICATION & MEDIA STUDIE">COMMUNICATION & MEDIA STUDIES</option>
                        <option value="GEOGRAPHY">GEOGRAPHY</option>
                        <option value="HOME ECONOMICS">HOME ECONOMICS</option>
                        <option value="INFORMATION & COMMUNICATION TECHNOLOGY">INFORMATION & COMMUNICATION TECHNOLOGY</option>
                        <option value="PHYSICS">PHYSICS</option>
                        <option value="LOGIC & SCIENTIFIC METHOD">LOGIC & SCIENTIFIC METHOD</option>
                        <option value="HISTORY OF SRI LANKA & INDIA">HISTORY OF SRI LANKA & INDIA</option>
                        <option value="CHEMISTR">CHEMISTRY</option>
                        <option value="ART">ART</option>
                        <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                        <option value="BUSINESS STUDIE">BUSINESS STUDIES</option>
                        <option value="CHRISTIANITY">CHRISTIANITY</option>
                        <option value="MATHEMATICS">MATHEMATICS</option>
                        <option value="ISLAMIC CIVILIZATION">ISLAMIC CIVILIZATION</option>
                        <option value="HINDU CIVILIZATION">HINDU CIVILIZATION</option>
                        <option value="BIO SYSTEMS TECHNOLOGY">BIO SYSTEMS TECHNOLOGY</option>
                        <option value="BUSINESS STATISTICS">BUSINESS STATISTICS</option>
                        <option value="BUDDHIST CIVILIZATION">BUDDHIST CIVILIZATION</option>
                        <option value="CHRISTIAN CIVILIZATION">CHRISTIAN CIVILIZATION</option>
                        <option value="GREEK & ROMAN CIVILIZATION">GREEK & ROMAN CIVILIZATION</option>
                        <option value="HISTORY OF SRI LANKA & MODERN WORLD">HISTORY OF SRI LANKA & MODERN WORLD</option>
                        <option value="DRAMA AND THEATRE (SINHALA)">DRAMA AND THEATRE (SINHALA)</option>
                        <option value="BUDDHISM">BUDDHISM</option>
                        <option value="ACCOUNTING">ACCOUNTING</option>
                        <option value="DANCING(INDIGENOUS)">DANCING(INDIGENOUS)</option>
                        <option value="FOOD TECHNOLOGY">FOOD TECHNOLOGY</option>
                        <option value="ELECTRICAL,ELECTRONIC AND IT">ELECTRICAL,ELECTRONIC AND IT</option>
                        <option value="COMBINED MATHEMATICS">COMBINED MATHEMATICS</option>
                        <option value="ORIENTAL MUSIC">ORIENTAL MUSIC</option>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="BIOLOGY">BIOLOGY</option>
                        <option value="CIVIL TECHNOLOGY">CIVIL TECHNOLOGY</option>
                        <option value="AGRO TECHNOLOGY">AGRO TECHNOLOGY</option>
                        <option value="SINHALA">SINHALA</option>
                        <option value="ENGINEERING TECHNOLOGY">ENGINEERING TECHNOLOGY</option>
                        <option value="HINDUISM">HINDUISM</option>
                        <option value="WESTERN MUSIC">WESTERN MUSIC</option>
                        <option value="MECHANICAL TECHNOLOGY">MECHANICAL TECHNOLOGY</option>
                        <option value="TAMIL">TAMIL</option>
                        <option value="PALI">PALI</option>
                        <option value="BIO-RESOURCE TECHNOLOGY">BIO-RESOURCE TECHNOLOGY</option>
                        <option value="CARNATIC MUSIC">CARNATIC MUSIC</option>
                        <option value="DANCING(BHARATHA)">DANCING(BHARATHA)</option>
                        <option value="DRAMA AND THEATRE (TAMIL)">DRAMA AND THEATRE (TAMIL)</option>
                        <option value="SCIENCE FOR TECHNOLOGY">SCIENCE FOR TECHNOLOGY</option>
                        <option value="FRENCH">FRENCH</option>
                        <option value="CHINESE">CHINESE</option>
                        <option value="GERMAN">GERMAN</option>
                        <option value="HINDI">HINDI</option>
                        <option value="SANSKRIT">SANSKRIT</option>
                        <option value="DRAMA AND THEATRE (ENGLISH)">DRAMA AND THEATRE (ENGLISH)</option>
                        <option value="RUSSIAN">RUSSIAN</option>
                        <option value="ARABIC">ARABIC</option>
                        <option value="HIGHER MATHEMATICS">HIGHER MATHEMATICS</option>
                        <option value="JAPANESE">JAPANESE</option>
                    </select>
                    <br>
                    <label for="subject">Result</label>
                    <br>
                    <select id="result" name="result">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="S">S</option>
                        <option value="F">F</option>
                    </select>
                    <br>
                    <br>
                    <!--Subject 03 -->
                    <label for="subject">Subject 01</label>
                    <br>
                    
                    <select id="subject" name="subject">
                        <option value="POLITICAL SCIENCE">POLITICAL SCIENCE</option>
                        <option value="ECONOMICS">ECONOMICS</option>
                        <option value="ISLAM">ISLAM</option>
                        <option value="HISTORY OF SRI LANKA & EUROPE">HISTORY OF SRI LANKA & EUROPE</option>
                        <option value="COMMUNICATION & MEDIA STUDIE">COMMUNICATION & MEDIA STUDIES</option>
                        <option value="GEOGRAPHY">GEOGRAPHY</option>
                        <option value="HOME ECONOMICS">HOME ECONOMICS</option>
                        <option value="INFORMATION & COMMUNICATION TECHNOLOGY">INFORMATION & COMMUNICATION TECHNOLOGY</option>
                        <option value="PHYSICS">PHYSICS</option>
                        <option value="LOGIC & SCIENTIFIC METHOD">LOGIC & SCIENTIFIC METHOD</option>
                        <option value="HISTORY OF SRI LANKA & INDIA">HISTORY OF SRI LANKA & INDIA</option>
                        <option value="CHEMISTR">CHEMISTRY</option>
                        <option value="ART">ART</option>
                        <option value="AGRICULTURAL SCIENCE">AGRICULTURAL SCIENCE</option>
                        <option value="BUSINESS STUDIE">BUSINESS STUDIES</option>
                        <option value="CHRISTIANITY">CHRISTIANITY</option>
                        <option value="MATHEMATICS">MATHEMATICS</option>
                        <option value="ISLAMIC CIVILIZATION">ISLAMIC CIVILIZATION</option>
                        <option value="HINDU CIVILIZATION">HINDU CIVILIZATION</option>
                        <option value="BIO SYSTEMS TECHNOLOGY">BIO SYSTEMS TECHNOLOGY</option>
                        <option value="BUSINESS STATISTICS">BUSINESS STATISTICS</option>
                        <option value="BUDDHIST CIVILIZATION">BUDDHIST CIVILIZATION</option>
                        <option value="CHRISTIAN CIVILIZATION">CHRISTIAN CIVILIZATION</option>
                        <option value="GREEK & ROMAN CIVILIZATION">GREEK & ROMAN CIVILIZATION</option>
                        <option value="HISTORY OF SRI LANKA & MODERN WORLD">HISTORY OF SRI LANKA & MODERN WORLD</option>
                        <option value="DRAMA AND THEATRE (SINHALA)">DRAMA AND THEATRE (SINHALA)</option>
                        <option value="BUDDHISM">BUDDHISM</option>
                        <option value="ACCOUNTING">ACCOUNTING</option>
                        <option value="DANCING(INDIGENOUS)">DANCING(INDIGENOUS)</option>
                        <option value="FOOD TECHNOLOGY">FOOD TECHNOLOGY</option>
                        <option value="ELECTRICAL,ELECTRONIC AND IT">ELECTRICAL,ELECTRONIC AND IT</option>
                        <option value="COMBINED MATHEMATICS">COMBINED MATHEMATICS</option>
                        <option value="ORIENTAL MUSIC">ORIENTAL MUSIC</option>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="BIOLOGY">BIOLOGY</option>
                        <option value="CIVIL TECHNOLOGY">CIVIL TECHNOLOGY</option>
                        <option value="AGRO TECHNOLOGY">AGRO TECHNOLOGY</option>
                        <option value="SINHALA">SINHALA</option>
                        <option value="ENGINEERING TECHNOLOGY">ENGINEERING TECHNOLOGY</option>
                        <option value="HINDUISM">HINDUISM</option>
                        <option value="WESTERN MUSIC">WESTERN MUSIC</option>
                        <option value="MECHANICAL TECHNOLOGY">MECHANICAL TECHNOLOGY</option>
                        <option value="TAMIL">TAMIL</option>
                        <option value="PALI">PALI</option>
                        <option value="BIO-RESOURCE TECHNOLOGY">BIO-RESOURCE TECHNOLOGY</option>
                        <option value="CARNATIC MUSIC">CARNATIC MUSIC</option>
                        <option value="DANCING(BHARATHA)">DANCING(BHARATHA)</option>
                        <option value="DRAMA AND THEATRE (TAMIL)">DRAMA AND THEATRE (TAMIL)</option>
                        <option value="SCIENCE FOR TECHNOLOGY">SCIENCE FOR TECHNOLOGY</option>
                        <option value="FRENCH">FRENCH</option>
                        <option value="CHINESE">CHINESE</option>
                        <option value="GERMAN">GERMAN</option>
                        <option value="HINDI">HINDI</option>
                        <option value="SANSKRIT">SANSKRIT</option>
                        <option value="DRAMA AND THEATRE (ENGLISH)">DRAMA AND THEATRE (ENGLISH)</option>
                        <option value="RUSSIAN">RUSSIAN</option>
                        <option value="ARABIC">ARABIC</option>
                        <option value="HIGHER MATHEMATICS">HIGHER MATHEMATICS</option>
                        <option value="JAPANESE">JAPANESE</option>
                    </select>
                    <br>
                    <label for="subject">Result</label>
                    <br>
                    <select id="result" name="result">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="S">S</option>
                        <option value="F">F</option>
                    </select>
                    <br>
                    <!-- submit button to view query details -->
                    <input type="submit" value="Review Test">
                
                </form>
            </div>
        </div>
        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'therm_use' %}">Start Test</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>

        <!-- footer -->
        <footer>
            <p class="footer1">
            Powered by<i><b>Heathens</b></i>
            </p>
        </footer>


        <!-- External javascript link -->
        <script src="{% static 'website_javascript.js' %}"></script>

        <!-- Link for webpage icons sourcecode -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
