<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
    </head>
    <body>
        <header>
            <!-- Web site logo -->
            <a href="{% url 'home' %}" class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

           

        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'therm_use' %}">Start Test</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>


        <!-- Display filled form data in another web page -->
            <div class="output">
                    <h1> Need Some Help?</h1>
                    <br><br>
                    <p class="">
                        <b>Emith Dinsara</b>
                        <br>
                        <b>Emith20211226@iit.ac.lk</b>
                        <button type="button" id="datasend"><a href="mailto: Emith20211226@iit.ac.lk" id="send">Send Message</a></button>
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>Alfa Azmi</b>
                        <br>
                        <b>fathima.20210359@iit.ac.lk</b>
                        <button type="button" id="datasend"><a href="mailto: fathima.20210359@iit.ac.lk" id="send">Send Message</a></button>

                    </p>
                    <p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>Dakshina Pathirana</b>
                        <br>
                        <b>asith.20210389@iit.ac.lk</b>
                        <button type="button" id="datasend"><a href="mailto: asith.20210389@iit.ac.lk" id="send">Send Message</a></button>

                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <b>Dulan Vidanagamage</b>
                        <br>
                        <b>dulan.20210554@iit.ac.lk</b>
                        <button type="button" id="datasend"><a href="mailto: dulan.20210554@iit.ac.lk" id="send">Send Message</a></button>
                    </p>
                       <br>
                       <br>
                    <!--button type="button" id="datasend"><a href="mailto: abc@example.com" id="send">Send</a></button>
                    <button type="button" id="edit" onclick="history.back()">Edit</button-->
            </div>

            <!-- footer -->
        <footer>
            <p class="footer1">
            Powered by<i><b>Heathens</b></i>
            </p>
        </footer>

        <script src="{% static 'website_javascript.js' %}"></script>
        
        <!-- Link for webpage icons sourcecode -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'website_javascript.js' %}"></script>
    </body>
</html>
