<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FutureRight</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    </head>
    <body>
       <header>
            <!-- Web site logo -->
            <a href="{% url 'home' %}"  class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

        <ul class="socialMedia">
           <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
           <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
           <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
           <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
        
        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'therm_use' %}">Start Test</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>


        <!-- Display filled form data in another web page -->
        <form action="">
                    <div class="output">
                    
                    <p><b>Your predicted personality: {{personality}}</b></p><br><br>
                    <p><b>The list of predicted careers: <br> <br>
                        
                        <ul>
                            {% for item in careers %}
                                <li>&emsp;{{ item }}</li>
                            {% endfor %}
                        </ul>

                    <br><br>
                    
                    <button type="button" id="datasend"><a href="mailto: abc@example.com" id="send">Send</a></button>
                    <button type="button" id="edit" onclick="history.back()">Back</button>
                    <button onclick="downloadPDF()">Download PDF</button>
                    
            </div>
        </form>
        <script>
            function downloadPDF() {
                var doc = new jsPDF();
                var output = document.querySelector(".output");
                doc.text(output.innerText, 10, 10);
                doc.save("input-data.pdf");
            }
        </script>

        <script src="js/website_javascript.js"></script>
        
        <!-- Link for webpage icons sourcecode -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'website_javascript.js' %}"></script>
    </body>
</html>
