<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FutureRight</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
    </head>
    <body>
       <header>
            <!-- Web site logo -->
            <a href="Main_Page.html" class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

        <ul class="socialMedia">
           <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
           <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
           <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
           <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
        
        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="Main_Page.html">Home</a></li>
            <li><a href="Start_Test.html">Start Test</a></li>
            <li><a href="Review_Test.html">Review Test</a></li>
            <li><a href="Help.html">Help</a></li>
            <li><a href="about_us.html">About</a></li>
        </ul>


        <!-- Display filled form data in another web page -->
        <form action="">
                        <div class="output">
                    <h2> Filled Details</h2>
                    <br><br>
                    <p>
                        <b>Full Name: </b><span id="filled-name" ></span>
                    </p><br>
                    <p>
                        <b>Email Address: </b><span id="filled-email" ></span>
                    </p><br>
                    <p>
                        <b>Subject 01: </b><span id="filled-subject1" ></span>
                    </p><br>
                    <p>
                        <b>Subject 02: </b><span id="filled-subject2" ></span>
                    </p><br>
                    <p>
                        <b>Subject 03: </b><span id="filled-subject3" ></span>
                    </p><br>
                    <p>
                        <b>Country: </b><span id="filled-country" ></span>
                    </p><br>
                    <p>
                        <b>Query Detail: </b><span id="filled-details" ></span>
                    </p>
                    <br><br>
                    
                    <button type="button" id="datasend"><a href="mailto: abc@example.com" id="send">Send</a></button>
                    <button type="button" id="edit" onclick="history.back()">Edit</button>
                    <button type="button">Download</button>
            </div>
        </form>


        <script src="js/website_javascript.js"></script>
        
        <!-- Link for webpage icons sourcecode -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'website_javascript.js' %}"></script>
    </body>
</html>
