<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FutureRight</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
    </head>
    <body>
       <header>
            <!-- Web site logo -->
            <a href="{% url 'home' %}"  class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

        <!-- Query form -->
        <div class="queryform">

            <div class="container">
                <!-- Heading -->
                <b>Personality Test</b><br><br>
                <!-- Form -->
                {% csrf_token %}
                <form id="quaryform" name="quaryform" method="POST" action="{% url 'test' %}">
                    <!-- age  -->
                    <label for="age">Age</label>
                    <input type="number" id="age" min="1" max="100" name="age" placeholder="Your age.." required><br>
                    <br>
                    <!-- gender selector -->
                    <label for="gender">Gender</label>
                    <br>
                    <select id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <br>
                    <!-- ppp selector -->
                    
                    <label for="slider">Here are come personality traits Rate yourself to each of them from 1-10</label>
                    <div class="ptest-item">
                    <h4 class="ptesth4">Openness</h4>
                    <p class="ptestp"> (refers to a person's willingness to consider new ideas, experiences, and perspectives. It involves being open-minded and receptive to different ways of thinking.)</p>
                    <br>
                    <div class="slider">
                        <input type="range" min="0" max="10" value="0" id="fader" step="1" list="volsettings" name="openness">
                        <datalist id="volsettings">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        </datalist>
                    </div>
                </div>
                <br>
                <br><div class="ptest-item">
                    <h4 class="ptesth4">Neuroticism</h4>
                    <p class="ptestp">(Neuroticism refers to a personality trait characterized<br> by emotional instability, anxiety, moodiness, and<br> a tendency towards negative thinking.)</p>
                    <br>
                  <div class="slider">
                    <input type="range" min="0" max="10" value="0" id="fader" step="1" list="volsettings" name="neuroticism">
                    <datalist id="volsettings">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    </datalist>
                </div>
                </div>
                <br>
                <br><div class="ptest-item">
                    <h4 class="ptesth4">Conscientiousness</h4>
                    <p class="ptestp">(Conscientiousness refers to a personality trait <br> characterized by being responsible, organized, and <br>dependable.It involves a strong sense of duty and a desire<br> to achieve goals through hard work and self-discipline.)</p>
                    <br>
                  <div class="slider">
                    <input type="range" min="0" max="10" value="0" id="fader" step="1" list="volsettings" name="conscientiousness">
                    <datalist id="volsettings">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    </datalist>
                </div>
                </div>
                <br>
                <br>
                <div class="ptest-item">
                    <h4 class="ptesth4">Agreeableness</h4>
                    <p class="ptestp">(Agreeableness refers to a personality trait <br>characterized by being friendly, cooperative, and <br>compassionate towards others. It involves valuing<br> social harmony and prioritizing the needs of others.)</p>
                    <br>
                  <div class="slider">
                    <input type="range" min="0" max="10" value="0" id="fader" step="1" list="volsettings" name="agreeableness">
                    <datalist id="volsettings">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    </datalist>
                </div>
                </div>
                <br>
                <br>
                <div class="ptest-item">
                    <h4 class="ptesth4">Extraversion</h4>
                    <p class="ptestp">(Extraversion refers to a personality trait <br>characterized by outgoing, talkative, and assertive<br> behavior. People who score high in extraversion <br>tend to be sociable and enjoy being <br>around other people.)</p>
                    <br>
                  <div class="slider">
                    <input type="range" min="0" max="10" value="0" id="fader" step="1" list="volsettings" name="extraversion">
                    <datalist id="volsettings">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    </datalist>
                </div>
                </div>
                <br>
                <br>
                 <!-- submit button to view query details -->
                 <div style="display: flex; flex-direction: column;">
                 <input type="submit" value="Next">
                 </div>
                </form>
            </div>
        </div>
        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'therm_use' %}">Start Test</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>

        <!-- External javascript link -->
        <script src="{% static 'website_javascript.js' %}"></script>

        <!-- Link for webpage icons sourcecode -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'website_javascript.js' %}"></script>
</body>
</html>
