<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet_2.css' %}">
        <link rel = "icon" href ="images/frlogo.png" type = "image/x-icon">
    </head>
    <body>
        <header>
            <!-- Web site logo -->
            <a href="{% url 'home' %}" class="logo">FutureRight✓</a>
            <!-- Day and Night Themes changer and menu -->
            <div class="rightSide">
                <div class="buttons dayNight">
                    <ion-icon name="moon-outline"></ion-icon>
                    <ion-icon name="sunny-outline"></ion-icon>
                </div>
                <div class="buttons menuToggle">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="close-outline"></ion-icon>
                </div>
            </div>
        </header>

            <ul class="socialMedia">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            </ul>

        <!--Navigation Sidebar-->
        <ul class="navigation">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'therm_use' %}">Start Test</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
            <li><a href="{% url 'about_us' %}">About</a></li>
        </ul>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Projects Section -->
  <section id="projects">
    <div class="project-item">
      <div class="project-info">
         <h3>Welcome to FutureRight, an online platform that provides career guidance and resources for job seekers and professionals. By accessing or using our website, you agree to be bound by the following terms and conditions ("Terms of Use").</h3>
    <br>
    <div class="right">
    <h3><u>Use of the Website</u></h3>
    <p>• The content of this website is for informational purposes only. It is subject to change without notice.<br>
        • You may use this website for personal, non-commercial, and career guidance purposes only. You may not use this website for any commercial purpose, or in any way that • breaches any applicable local, national, or international law or regulation.<br>
        • You may not use this website in any way that causes or may cause damage to the website or impairment of the availability or accessibility of the website.<br>
        • We reserve the right to restrict access to certain areas of our website, or to our entire website, at our discretion.</p>
        <br>
        <h3><u>User Content</u></h3>
        <p>• Any content that you submit to our website, including but not limited to comments, suggestions, ideas, or other material, will be considered non-confidential and non-proprietary.<br>
            • By submitting content to our website, you grant us a perpetual, non-exclusive, royalty-free, worldwide license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content in any media now known or hereafter developed.<br>
            • You agree that you will not submit any content that is unlawful, defamatory, abusive, obscene, or otherwise objectionable, or that infringes on the intellectual property rights of others.<br>
        </p>
        <br>
    <h3><u>Intellectual Property</u></h3>
    <p>• All content on this website, including but not limited to text, graphics, logos, images, audio clips, video clips, and data compilations, is the property of FutureRight or its content suppliers, and is protected by international copyright laws.<br>
        • You may not reproduce, modify, distribute, or republish any content from this website without our prior written consent.
    </p>
    <br>
    <h3><u>Disclaimer</u></h3>
    <p>• The information contained in this website is for general informational purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.<br>
        • In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.<br>
        • We do not guarantee that this website will be secure, error-free, or uninterrupted, or that defects will be corrected.
    </p>
      </div>
  </div>

</section>
<!-- End Projects Section -->

        <div class="tacbox">
         <input id="checkbox" type="checkbox" />
         <label for="checkbox"> I agree to these Terms and Conditions</label>
        </div>
        <br>
        <br>
        <br>
        <a href="{% url 'start_test' %}">
            <input type="submit" value="Start Test" id="review-button">
        <br>
        <br>
        <br>

            <!-- footer -->
        <footer>
            <p class="footer1">
            Powered by<i><b>Heathens</b></i>
            </p>
        </footer>

        <script src="js/website_javascript.js"></script>
        
        <!-- External javascript link -->
        <script src="{% static 'website_javascript.js' %}"></script>

        <!-- Link for webpage icons sourcecode -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
